/* .nav-bar {
  position: fixed;
  width: min(1000px, 100%);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
} */

.menu,
.dropdown .dropbtn {
  pointer-events: visible;
  height: var(--icon-size);
  width: var(--icon-size);
  font-size: var(--M-font);
  font-weight: bolder;
  /* center */
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu * {
  text-decoration: unset;
}
/*  */

.top-bar {
  width: 100vw;
  outline: solid 1px;
  position: fixed;
  background-color: white;
}

/* Navbar container */
.navbar {
  width: min(1000px, 100%);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navbar-pad {
  height: var(--icon-size);
}

/* Links inside the navbar */
.navbar a {
  float: right;
  text-align: center;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-size: 16px;
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  outline: solid 1px;
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.dropdown-content :nth-child(even) {
  background-color: #f0f0f0;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.top-bar a:hover {
  color: unset;
  font-weight: bold;
  text-shadow: 2px 2px #ff00dd;
  padding: 0px 2px 2px 0px;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
