include utils

-
  const navInfo = data.navInfo;
  const title = data.title;
  const links = data.links;
//- -
//-     const title = "TEMPLATE_HOME"
//-     const links = [{name: "temp_page" url: "./template_page.html"}]

+homePage(navInfo, title, links)