include utils

-
  const title = "About"
  const navInfo = data.navInfo

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href= MAIN_CSS_DIR)
    link(rel="stylesheet", href= HOME_CSS_DIR)
    title= title
  body
    +nav(navInfo)
    .main
      .navbar-pad
      .about.home.push
        div About: This website is a place for all of my work from Professor Ryan Sloan's #[a(href="https://writing.berkeley.edu/") research class]. My initial focus was money, and it's involvement in technology and people; the title is coined from the popular "oh my zsh" terminal customization tool with a twist to reflect how technology—particularly computing—has evolved from a geeky profession into the lucrative field that it is known as. Here are some brief summaries of the projects:

        br

        h2 #[a(href="/I/home.html" ) Project 1]
        div In this preliminary project, I discuss the speculative dynamics between humans and artificial intelligence. In particular, I explore how we might perceive such artificially intelligent systems and some scientific/expert commentary on such technologies.  

        br

        h2 #[a(href="/II/home.html" ) Project 2]
        div In this project, I explore various topics in preperation for project 3.

        br

        h2 #[a(href="/III/home.html" ) Project 3]
        div In this final project, I dive deep into the pipeline of talent that feeds into Silicon Valley. I explore what gaps in participation that  currently exist in the industry, and how these gaps might be deep rooted in the pipeline. In other words, I ask: How early does the pipeline begin? Why does it matter for STEM talent development to begin early? Who is privileged in entering the pipeline at these early stages?

        br

        a(href='/index.html') [back]
      
