include utils

//- -
    //- const title = $TITLE_INPUT
    //- const links = $LINKS_INPUT
-
    const title = "TEMPLATE_HOME"
    const links = {temp_page: "./template_page.html"}

+homePage(title, links)